/* Styles for the Admin Panel */
.admin-page {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 2rem 0;
}

.admin-page h2 {
  text-align: center;
  margin-bottom: 2rem;
}

#add-staff-btn {
  margin-bottom: 2rem;
}

#staff-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.staff-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 1.5rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.staff-actions button {
  margin-left: 10px;
}

/* Admin service styling */
.service-admin-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 1.5rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-actions button {
  margin-left: 10px;
}

#add-service-btn {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#service-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.assigned-services {
  margin-top: 10px;
  font-size: 0.9em;
  color: #555;
}

/* appointment styling */
.filters-container {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  display: flex;
  gap: 20px;
}

.filters-container .form-control {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.appointment-admin-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.status-updater {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-updater select {
  padding: 5px;
  border-radius: 5px;
}
